
.circle {
    border-radius: 50%;
}
.red {
    background-color: red;
}

#myButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 200px;
  height: 200px;
  margin: auto;
}

